.detail{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
        align-items: center;    
    z-index: 100000;
    
    
    .detailContent{
        background-color: white;
        position: absolute;
        display: flex;
        width: 95%;
        padding: 40px;
        
        .imgdetail{
            width: 40%;
            margin-right: 5%;
            img{
                height: 550px;
                width: 450px;

            }
        }
        .detailscontent{
            width: 55%;
            .btn{
                padding: 10px;
                color: white;
            }
            .btnclose{
                position: absolute;
                top: 0;right: 0;
            }
        }
    }
    
}
