@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* color and styling */
:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(201, 33%, 16%);
  --TextColor: hsl(240, 4%, 36%);
  --WhiteColorDream: hsl(0, 0%, 93%);
  --GreyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  padding: 4rem 0 2rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}
.btn {
  padding: 0.6rem 1.5rem;
  background: var(--GradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: var(--WhiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--SecondaryColor);
}
img,
video {
  width: 100%;
  height: auto;
}
body {
  background: var(--bodyColor);
}
@media screen and (min-width: 1240px) {
  .container {
    width: 80% !important;
    margin: auto !important;
  }
  .section {
    padding: 6rem 0 4rem;
  }
}
@media screen and (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.jscroll-to-top {
  bottom: 100px;
}
.fcta-zalo-ben-trong-nut svg path {
  fill: #fff;
}
.fcta-zalo-vi-tri-nut {
  position: fixed;
  bottom: 24px;
  right: 20px;
  z-index: 999;
}
.fcta-zalo-nen-nut,
div.fcta-zalo-mess {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
}
.fcta-zalo-nen-nut {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #0068ff;
  border-radius: 50%;
  position: relative;
}
.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
  content: "";
  position: absolute;
  border: 1px solid #0068ff;
  background: #0068ff80;
  z-index: -1;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: zoom 1.9s linear infinite;
}
.fcta-zalo-nen-nut::after {
  animation-delay: 0.4s;
}
.fcta-zalo-ben-trong-nut,
.fcta-zalo-ben-trong-nut i {
  transition: all 1s;
}
.fcta-zalo-ben-trong-nut {
  position: absolute;
  text-align: center;
  width: 60%;
  height: 60%;
  left: 10px;
  bottom: 25px;
  line-height: 70px;
  font-size: 25px;
  opacity: 1;
}
.fcta-zalo-ben-trong-nut i {
  animation: lucidgenzalo 1s linear infinite;
}
.fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
.fcta-zalo-text {
  opacity: 0;
}
.fcta-zalo-nen-nut:hover i {
  transform: scale(0.5);
  transition: all 0.5s ease-in;
}
.fcta-zalo-text a {
  text-decoration: none;
  color: #fff;
}
.fcta-zalo-text {
  position: absolute;
  top: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  transform: scaleX(-1);
  transition: all 0.5s;
  line-height: 1.5;
}
.fcta-zalo-nen-nut:hover .fcta-zalo-text {
  transform: scaleX(1);
  opacity: 1;
}
div.fcta-zalo-mess {
  position: fixed;
  bottom: 29px;
  right: 58px;
  z-index: 99;
  background: #fff;
  padding: 7px 25px 7px 15px;
  color: #0068ff;
  border-radius: 50px 0 0 50px;
  font-weight: 700;
  font-size: 15px;
}
.fcta-zalo-mess span {
  color: #0068ff !important;
}
span#fcta-zalo-tracking {
  font-family: Roboto;
  line-height: 1.5;
}
.fcta-zalo-text {
  font-family: Roboto;
}
